# Data access and management
numpy
pandas
duckdb

# Virtual environment for notebooks
jupyter
ipykernel

# Plotting
matplotlib
plotty
seaborn
shap

# Machine learning
scikit-learn
lightgbm
catboost
xgboost
prophet

# Support for training
u8darts[all]

# Hyperparameter tuning
optuna

# Download data from Kaggle
requests

# Time series analysis
statsmodels