# Data access and management
pandas
duckdb

# Virtual environment for notebooks
jupyter
ipykernel

# Plotting
matplotlib

# Machine learning
scikit-learn
lightgbm

# Download data from Kaggle
requests